
.radio-group-item > span:last-child {
  display: none;
}

.radio-group-item {
  position: relative;
}
.radio-group-item[data-state="checked"]::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: chartreuse;
}

body {
    background-color: black;
  }
  
